{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    <h1>Nový záznam</h1>
    {import '../components/bootstrap-form.latte'}
    {include bootstrap-form nabidkaForm}
</div>    
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
