{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    <h2>{$zajezd->destinace}</h2>
    <p>Datum odjezdu: {$zajezd->datum} , doprava {$zajezd->doprava}</p>
    <p>Delka pobytu: {$zajezd->delka} nocí, cena {$zajezd->cena}</p>
    <p>Popis:</p>
    <p>{$zajezd->popis}</p>
</div>    
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
