{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    Obsah hlavní stránky
</div>    
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
