{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
    <h2>Vložení nového záznamu</h2>
    {import '../components/bootstrap-form.latte'}
    {include bootstrap-form akceForm}
</div>    
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
